.notesWrapper {
    // display: flex;
    // gap: 1rem;
    // flex-direction: column;
    // margin-top: 2rem;

    // @media screen and (min-width: 992px) {
    //     flex-direction: row;
    // }
    display: grid;
    gap: 1rem;
    justify-content: center;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}