header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00215E;
    padding: 10px 1rem;
    nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        a{
            text-decoration: none;
            color: #FFC55A;
        }
    }
}